@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.slimmain {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.videocontainer {
  aspect-ratio: 16/9;
  border-radius: 20px;
  overflow: hidden;
}

.arrowup {
  transform: translateY(4px);
}

.projpic {
  min-width: 300px;
  height: 150px;
  object-fit: fill;
  border-radius: 10px;
  object-fit: contain;
  background: radial-gradient(circle, rgba(0,0,0,0.7) 50%, rgba(0,0,0,1) 100%);
}

.stakeinput {
  max-width: 100px;
}

.peakinput {
  max-width: 50px;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.connectbtn {
  @apply text-red-700 font-semibold bg-white py-1 px-4 rounded-lg;
}